*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body{
    font-family: 'Epilogue', sans-serif;
    color: #090039;
    background: #ECE9FD;

    padding: 60px 23px 66px;
}

h1{
    font-size: 40px;
}