/* Configurações da página*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body{
    height: "100%";
}


/* Configurações de escala e texto*/
:root{    
    font-size: 62.5%;
}

/* Configurações do body*/
body{
    background-color: #F9F4FB;
    font-family: 'Mulish', sans-serif;
}

/* Formatação textos*/
h1{
    color: #B52184;

    font-size: 3.2rem ;
    font-weight: 900;
    text-align: center;
}

p{
    color: #312D64;
    font-weight: 600;
    font-size: 2.0rem;
    text-align: center;
}

h2{
    color:#B52184 ;
    font-weight: 900;
    font-size: 3.0rem;
}

.card p{
    color: #312D64 ;
    font-size: 1.6rem;
    font-weight: 600;
}

.input-wrapper{
    font-size: 1.6rem;
    color: #312D64;
}

.button{
    font-size: 1.4rem;
    color: #fff;
}

footer p{
    color: #fff;
    font-size: 2.0rem;
    font-weight: 600;
}

/* Seção 1 */
#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 0 3.4rem 9.3rem 3.2rem;
}

#astronauta img{
    width: 100%;
}

a{
    margin-top: 3.5rem;
}


/* Seção 2 */
#cards{
    width: 100%;
    height: 100%;

    background: linear-gradient(96.21deg, #343193 0%, #302c63 99.68%);

    padding: 5.3rem 3.9rem 5.5rem;
    display: grid;
    gap: 4.9rem;

}
.card{
    background-color: #fff;
    border-radius: 2.0rem;
    padding: 2.6rem;
}
#cards .card img {
    width: 8rem;
    margin-bottom: 3.3rem;
}
#cards .card .card-text {
    width: 26.5rem;

} 

#cards .card .card-text h2{
    margin-bottom: 2.0rem;
    text-align: left;
}
#cards .card .card-text p{
    text-align: left;
}

/* Seção 3 */
#contact{
    width: 100%;
    height: 100%;
    padding: 7.8rem 3.9rem 6.5rem;
}

#contact fieldset{
    border-style: none;

}

#contact form h1{
    margin-bottom: 4.3rem;
    text-align: left;
}

#contact form .input-wrapper {
    margin-bottom: 2.4rem;
}

#contact form input, #contact form textarea {
  width: 100%;
  border: 0.15rem solid #312d64;
  border-radius: 1.6rem;
  padding: 1.2rem 1.6rem 1.6rem;
  color: #312d64;
  font-weight: 600;
  font-size: 1.6rem;
}
#contact form textarea {
    height: 12.6rem;
}
  
#contact form input::placeholder, #contact form textarea::placeholder {
    color: #312d64;
    font-weight: 600;
    font-size: 1.6rem;
}
#contact form input::placeholder {
    padding-left: 2.8rem;
}



/* footer  */
footer{
    background: linear-gradient(96.21deg, #343193 0%, #302c63 99.68%);
    padding: 3.2rem 1.6rem;
}